* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.navbar {
    position: sticky !important;
    background-color: rgb(51, 51, 51);
    display: flex;
    align-items: center;
    width: 100%;
    height: 15vh;
}

.logo {
    margin-left: 6%;
    width: 100px;
    height: 12vh;
    margin-right: 5%;
}

.logo img {
    width: 80px;
    height: 10vh;
}

.nav-links {
    align-items: center;
    justify-content: center;
    display: flex;
}

.nav-links li {
    list-style: none;
    padding: 0 4px;
}

.nav-links a {
    padding: 4px 20px;
    color: white;
    font-size: 1.1rem;
    letter-spacing: 2px;
    text-decoration: none;
    border-radius: 10px;
}

.nav-links a:hover {
    box-shadow: rgb(0, 0, 0, 0.2) 2px 2px 5px;
    background-color: rgb(224, 224, 224);
    color: rgb(22, 22, 22) !important;
}

.active {
    box-shadow: rgb(0, 0, 0, 0.2) 2px 2px 5px;
    background-color: rgba(255, 255, 255, 0.822);
    color: black !important;
}

.burger {
    display: none;
    position: absolute;
    top: 5%;
    right: 4%;
    cursor: pointer;
}

.line {
    background-color: rgb(255, 255, 255);
    width: 30px;
    height: 5px;
    margin: 5px;
}

.account {
    display: flex;
    margin-left: 330px;
}

.account-links {
    padding: 0 !important;
    margin: 0 !important;
}

.account a {
    padding: 4px 10px;
}

.cart {
    display: flex;
    margin-left: 330px;
}

.cart a {
    padding: 4px 10px;
}

sup {
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 50px;
    background-color: tomato;
}

.path {
    margin-left: 6%;
    margin-top: 4%;
    letter-spacing: 2px;
    font-size: 17px;
    color: whitesmoke;
}

.path span {
    font-size: 15px;
    padding: 0px 4px;
    color: rgb(192, 192, 192);
}


/* Signup */

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    margin: 2% 0;
}

.title h1 {
    font-size: 2rem;
    color: white;
    letter-spacing: 3px;
    color: white;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    padding: 8px 10px;
    width: 200%;
    background-color: rgb(235, 223, 255);
    border: none;
    outline: none;
}

input:focus {
    outline: 2px tomato solid;
}

button {
    padding: 10px 30px;
    background-color: tomato;
    color: white;
    font-size: 1.1rem;
    letter-spacing: 2px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(252, 62, 29);
}

.container p {
    margin-top: 2%;
    color: white;
    letter-spacing: 2px;
    font-size: 17px;
}

.login-btn {
    text-decoration: none;
    color: orangered;
}


/* For Mobiles */

@media (max-width:768px) {
    .navbar {
        flex-direction: column;
        transition: all 1s ease-in-out;
        height: 300px;
    }
    .nav-links {
        flex-direction: column;
        transition: all 1s ease-in-out;
    }
    .nav-links li {
        padding: 10px;
    }
    .logo {
        margin-left: -30%;
    }
    .burger {
        top: 3%;
        display: block;
    }
    .v-nav-resp {
        opacity: 0;
    }
    .h-nav-resp {
        height: 72px;
    }
    .account {
        padding-top: 20px;
        flex-direction: column;
        margin-left: -10px;
        justify-content: center;
        align-items: center;
    }
    .account-links {
        padding-bottom: 20px;
    }
    .cart {
        padding-top: 20px;
        flex-direction: column;
        margin-left: -10px;
        justify-content: center;
        align-items: center;
    }
}